.slideshow {
  height: 80vh;
  width: 100%;

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1040px) {
    height: 80vh;
  }

  & img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media (min-width: 1040px) {
    }
  }
}
