.service__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 4rem 2.4rem;

  @media (min-width: 768px) {
    align-self: stretch;
    height: 350px;
  }

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2.4rem;
  }

  p {
    color: #747474;
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }
}
