.button {
  color: #444;
  background: transparent;
  font-size: 1.6rem;
  border: 1px solid #444;
  border-radius: 10px;
  transition: all 0.2s;
  padding: 1.6rem 3.2rem;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #444;
  }
}
