.hero {
  position: relative;
  height: 80vh;
  display: flex;

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1040px) {
    height: 80vh;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    text-align: center;
    flex-basis: 40%;

    @media (min-width: 1040px) {
      text-align: left;
    }
  }

  &__title {
    color: #efecec;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
  }

  &__img {
    flex-basis: 55%;
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;

    @media (min-width: 1040px) {
      position: relative;
      top: auto;
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-width: 1040px) {
      display: none;
    }
  }
}
