.services {
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    margin-bottom: 8rem;
  }

  &__text {
    margin-bottom: 3.2rem;
  }

  &__title {
    color: #444;
    font-size: 1.4rem;

    @media (min-width: 1040px) {
      font-size: 1.6rem;
      width: 60%;
    }
  }

  &__cards {
    @media (min-width: 768px) {
      flex-basis: 60%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}
