.about {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @media (min-width: 1040px) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  @media (min-width: 1040px) {
    justify-content: space-between;
    flex-direction: row;

    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    order: 2;

    @media (min-width: 1040px) {
      flex-basis: 45%;
    }

    & img {
      border-radius: 10px;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 2.4rem;

    @media (min-width: 1040px) {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.6;

      @media (min-width: 1040px) {
        font-size: 1.6rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
}
