.about {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;

  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    order: 2;

    & img {
      border-radius: 10px;
      display: block;
      height: 100%;
    }
  }

  &__text {
    margin-bottom: 2.4rem;

    p {
      font-size: 1.4rem;
      line-height: 1.6;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
}
