.navbar {
  position: relative;
  padding: 2.4rem 0;
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      width: 8rem;
    }
  }

  &__list {
    height: 100%;
    display: none;

    &.active {
      text-align: center;
      position: fixed;
      display: block;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
    }
  }

  &__item {
    margin-bottom: 2.4rem;
  }

  &__link {
    color: #fff;
    font-size: 2.4rem;
  }

  &__menu {
    z-index: 100;

    &-line {
      background-color: #444;
      width: 3rem;
      height: 2px;
      transition: all 0.3s ease-in-out;

      &--top {
        margin-bottom: 5px;
      }
    }

    &.active {
      right: 0;
    }

    &.active &-line--top {
      background-color: #fff;
      transform: rotate(45deg) translate(3px, 0);
      margin-bottom: 0px;
    }

    &.active &-line--bottom {
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }

  &__overlay {
    background-color: #444;
    transition: all 0.3s;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &.active {
      width: 100%;
    }
  }

  &.sticky {
    position: fixed;
    background-color: #444;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
  }

  &.sticky &__menu-line {
    background-color: #fff;
  }
}
