.gallery {
  &__tab-buttons {
    margin-bottom: 2.4rem;
  }

  &__tab-button {
    background-color: transparent;
    font-size: 1.6rem;
    border: none;
    margin-right: 1.6rem;
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    & img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1040px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
