.testimonial {
  margin-bottom: 4rem;

  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    border-radius: 10px;
  }

  &__card {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
    padding: 1.6rem;
    width: 22.2rem;

    @media (min-width: 768px) {
      width: 25rem;
    }

    @media (min-width: 768px) {
      width: 30rem;
    }

    & img {
      width: 5rem;
      height: 5rem;
      outline: 5px solid #444;
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 1.6rem;
    }

    & p {
      font-size: 1.2rem;
      margin-bottom: 1.6rem;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;

    & div {
      border: 1px solid #333;
      border-radius: 100%;
      height: 1rem;
      width: 1rem;
      margin-left: 1rem;
    }
  }

  &__tab--active {
    background-color: #444;
  }
}
