// Imports

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:ital,wght@0,400;1,600&display=swap");

// Variables

$colorDark: #444;
$colorLight: #fff;
$fontFamilyBody: "Poppins", sans-serif;
$fontFamilyHeadings: "Inter", sans-serif;

// Global

html {
  font-size: 62.5%;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $colorDark;
  font-family: $fontFamilyBody;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
}

ul {
  list-style: none;
}

// Typography

h1,
h2,
h3 {
  color: #444;
  font-family: $fontFamilyHeadings;
}

h1 {
  color: #fff;
  font-size: 3.2rem;
  letter-spacing: 2px;
  margin-bottom: 1.6rem;

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 1040px) {
    color: #444;
    font-size: 5.6rem;
  }
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;

  @media (min-width: 768px) {
    font-size: 3.2rem;
  }

  @media (min-width: 1040px) {
    font-size: 4rem;
  }
}
